<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
            <h2>Gimp</h2>
        </header>
        <h2>Image 1</h2>
        <img src="images/deer.jpg" alt="baby deer">
        <img src="images/deer-edit.jpg" alt="baby deer edit">
        <p>Rotated 90 degrees counter-clockwise</p>
        <h2>Image 2</h2>
        <img src="images/cub.jpg" alt="bear cub">
        <img src="images/cub-edit.jpg" alt="bear cub edit">
        <p>Rotated 90 degrees clockwise</p>
        <h2>Image 3</h2>
        <img src="images/chick.jpg" alt="chick">
        <img src="images/chick-edit.jpg" alt="chick edit">
        <p>flipped vertically</p>
        <h2>Image 4</h2>
        <img src="images/kitten.jpg" alt="kitten">
        <img src="images/kitten-edit.jpg" alt="kitten edit">
        <p>Rotated 180 degrees clockwise</p>
        <h2>Image 5</h2>
        <img src="images/puppy.jpg" alt="puppy">
        <img src="images/puppy-edit.jpg" alt="puppy edit">
        <p>cropped</p>
    </div>

</body>

</html>